/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

.mat-row {
  cursor:pointer!important;
}

.mat-row:hover {
  background:#f7f7f7;
}

.mat-header-cell,
.mat-header-row {
  color:#025893;
  font-size:16px;
  font-weight:600;
}

.mat-cell {
  font-size:16px!important;
  font-weight:400;
}
